$proximanova-path: "~@/assets/fonts/Proxima-Nova" !default;

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$proximanova-path}/ProximaNova-Light.eot');
  src:
    url('#{$proximanova-path}/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$proximanova-path}/ProximaNova-Light.woff2') format('woff2'),
    url('#{$proximanova-path}/ProximaNova-Light.woff') format('woff'),
    url('#{$proximanova-path}/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('#{$proximanova-path}/ProximaNova-Light.eot');
    src:
      url('#{$proximanova-path}/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
      url('#{$proximanova-path}/ProximaNova-Light.woff2') format('woff2'),
      url('#{$proximanova-path}/ProximaNova-Light.woff') format('woff'),
      url('#{$proximanova-path}/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('#{$proximanova-path}/ProximaNova-Reg.eot');
    src:
      url('#{$proximanova-path}/ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),
      url('#{$proximanova-path}/ProximaNova-Reg.woff2') format('woff2'),
      url('#{$proximanova-path}/ProximaNova-Reg.woff') format('woff'),
      url('#{$proximanova-path}/ProximaNova-Reg.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('#{$proximanova-path}/ProximaNova-Semibold.eot');
    src:
      url('#{$proximanova-path}/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
      url('#{$proximanova-path}/ProximaNova-Semibold.woff2') format('woff2'),
      url('#{$proximanova-path}/ProximaNova-Semibold.woff') format('woff'),
      url('#{$proximanova-path}/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Proxima Nova';
    src: url('#{$proximanova-path}/ProximaNova-Bold.eot');
    src:
      url('#{$proximanova-path}/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$proximanova-path}/ProximaNova-Bold.woff2') format('woff2'),
      url('#{$proximanova-path}/ProximaNova-Bold.woff') format('woff'),
      url('#{$proximanova-path}/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
  }

* {
  margin: 0;
  font-family: 'Proxima Nova';
}

p,span{
  font-weight: 300;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  min-height: 100%;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}



ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}



input,
select {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input:active {
  outline: 0;
}

::-webkit-search-decoration {
  display: none;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

select[multiple] {
  vertical-align: top;
}
