$rem-size: 16px;

// Brand Colors
$black: #000;
$blue-dark:#212529;
$blue: #4263EB;
$green: #42EB9F;
$grey-darker: #868E96;
$grey: #CED4DA;
$grey-opacity: rgba(206, 212, 218, 0.2);
$grey-medium-dark: #E2E3EA;
$grey-medium: #F1F3F5;
$grey-medium-light: #F2F2F8; 
$grey-light: #F8F9FA;
$orange: #F76707;
$white: #fff;


// Font text
$fs-xxxl:    2.5rem; // 40px
$fs-xxl:     2rem; // 32px
$fs-xl:      1.75rem; //28px


$fs-lg:   1.125rem; // 18px
$fs-md:       1rem; // 16px
$fs-sm:   0.875rem; // 14px
$fs-xs:    0.75rem; // 12px

// Font weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 800;
