{% extends "admin/change_form.html" %}
{% load quote_admin_utils %}

{# DJANGO OBJECT ACTIONS #}
{% load add_preserved_filters from admin_urls %}

{% block object-tools-items %}
  {% for tool in objectactions %}
    <li class="objectaction-item" data-tool-name="{{ tool.name }}">
      {% url tools_view_name pk=object_id tool=tool.name as action_url %}
      <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
         {% for k, v in tool.custom_attrs.items %}
           {{ k }}="{{ v }}"
         {% endfor %}
         class="{{ tool.standard_attrs.class }}">
      {{ tool.label|capfirst }}
      </a>
    </li>
  {% endfor %}
  {{ block.super }}
{% endblock %}
{# END DJANGO OBJECT ACTIONS #}

{% block after_related_objects %}
{{ block.super }}

{% get_quote_process as quote %}

{% if quote %}
<fieldset class="djn-fieldset module ">
  <h2>
    Quote Process
  </h2>
  <div
    class="djn-item djn-module djn-inline-form has_original inline-related dynamic-form grp-dynamic-form djn-dynamic-form-quote-quoteprocessdocuments"
    data-inline-model="quote-quoteprocessdocuments" data-is-initial="true" id="quoteprocessdocuments-0">
    <h3 class=" djn-drag-handler">
      <span class="inline_label">
        {{ quote }}
      </span>
    </h3>
    <fieldset class="module aligned djn-module  has-inlines">
      <div class="form-row field-dmv_license_front_side">
        <div class="field-dmv_license_front_side">
          <label for="id_quoteprocessdocuments-0-dmv_license_front_side">Estimated amount:</label>
          <p>${{ quote.quote_amount }}</p>
        </div>
      </div>
      <div class="form-row field-dmv_license_front_side">
        <div class="field-dmv_license_front_side">
          <label for="id_quoteprocessdocuments-0-dmv_license_front_side">Physical Coverage Deductible:</label>
          <p>{% if quote.deductible %}${{ quote.get_deductible_display }}{% else %}No{% endif %}</p>
        </div>
      </div>
      <div class="form-row field-dmv_license_front_side">
        <div class="field-dmv_license_front_side">
          <label for="id_quoteprocessdocuments-0-dmv_license_front_side">Deposit:</label>
          <p>{{ quote.get_deposit_display }}</p>
        </div>
      </div>
      <div class="form-row field-dmv_license_front_side">
        <div class="field-dmv_license_front_side">
          <label for="id_quoteprocessdocuments-0-dmv_license_front_side">Start Date:</label>
          <p>{{ quote.start_date }}</p>
        </div>
      </div>
    </fieldset>
  </div>
</fieldset>
{% endif %}

<script>
  // Prepopulate deposit
  document.addEventListener("DOMContentLoaded", function(event) {
    var depositPercentage = {{ quote.deposit }} / 100;
    var quoteInput = document.getElementById("id_official_hereford_quote");
    var depositInput = document.getElementById("id_deposit_payment_amount");

    if (!quoteInput || !depositInput) {
      return ;
    }

    var copyInput = function () {
      depositInput.value = quoteInput.value * depositPercentage
    }

    quoteInput.oninput = copyInput

    depositInput.oninput = function () {
      quoteInput.oninput = null;
      
      if (!depositInput.value) {
        quoteInput.oninput = copyInput;
      }
    }
  });
</script>
{% endblock %}
